/* Stylesheet for lopputehtava-1 */
body {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #FFA500;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: 'Righteous', sans-serif;
  color: #000;
  font-size: 0.65em;
  margin-bottom: 0;
  height: 8%;
}

legend {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  height: 14%;
}

form {
  height: 45%;
}

label {
  font-size: 0.5em;
  display: inline;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background-color: transparent;
  border: 2px solid #FF8B39;
  padding: 0.35em;
  border-radius: 0.25em;
  display: inline-block;
  width: 4%;
  margin: 0.12em;
  transition: transform 0.3s;
}

input[type="checkbox"] + label:hover {
  cursor: pointer;
}

input[type="checkbox"] + label:active {
  transform: scale(0.7,0.7);
}

input:checked + label {
  color: #FFA500;
  background-color: #FFC864;
}

input[type="submit"] {
  background-color: #FFF;
  border: none;
  padding: 1.15em;
  border-radius: 0.25em;
  display: inline-block;
  font-size: 0.3em;
  color: white;
  text-align: center;
  position: relative;
  top: -2em;
  cursor: pointer;
  color: #FFA500;
  margin: 0;
  transition: transform, 1s;
}

input[type="submit"]:hover {
  transform: scale(1.1,1.1);
}

em {
  color: #000;
  font-style: normal;
}

a img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
}

.form-container {
  width: 75%;
  margin: 0 auto;
}

.result {
  font-size: 0.5em;
  margin: 0;
  position: relative;
  z-index: 99;
}

#parrotBox {
  position: absolute;
  bottom: 2em;
}

#expBox {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: -1;
}

#alert {
  font-size: 0.7em;
  height: 4%;
}

@media (max-width: 860px) {
  body {
    font-size: 8vh;
  }

  legend {
    font-size: 0.9em;
  }

  input[type="checkbox"] + label {
    transition: transform, 0.15s;
  }

  input[type="submit"] {
    position: inherit;
  }
}

@media (max-width: 666px) {
  body {
    font-size: 7vh;
  }

  input[type="checkbox"] + label {
    padding: 0.3em;
    font-size: 0.5em;
    width: 5%;
  }

  .form-container {
    width: 95%;
  }

  .result {
    font-size: 0.7em;
  }
}


@media (max-width: 524px) {
  body {
    font-size: 5vh;
  }


  input[type="submit"] {
    font-size: 0.45em;
  }

  .result {
    bottom: 10%;
  }

}
